.hero-unit
  %h2= "Don't know your National ID Number?"
  %p= "Please click below to go the the NID Project website to get your NID."
  = link_to "National ID Website", "http://nid.gov.ly", :target => "_blank", :class => "btn btn-info btn-large"
  = link_to "Back", :back, :class => "btn btn-large"

