.hero-unit
  %h2= t("nonid.header")
  %p= t("nonid.paragraph")
  = link_to t("nonid.button_1"), "http://nid.gov.ly", :target => "_blank", :class => "btn btn-info btn-large"
  = link_to t("nonid.button_2"), :back, :class => "btn btn-large"
