.hero-unit
  %h2= t("start.header")
  %p= t("start.paragraph")
  = link_to t("start.button_1"), new_signup_path, :class => "btn btn-large btn-info"
  = link_to t("start.button_2"), nonid_path, :class => "btn btn-large btn-info"
