.hero-unit
  %p= t('wrongnid.paragraph', :national_id => session_national_id, :name => session_name).html_safe
  = link_to t('wrongnid.button_1'), new_registration_path, :class => "btn btn-large btn-warning"
  = link_to t('wrongnid.button_2'), account_path, :class => "btn btn-large btn-warning"
